/*header----------------------------------------------------------------------*/

.header {
		height: 59px;
		line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 17px 0;
    width: 100%;
    .burger {
    		margin-left: 20px;
    		display: none;
        position: absolute;
        left: 0px;
        top: 10px;
        transform: translateY(-2px);
        width: 25px;
        height: 100%;
        line-height: 1;
        transition: $transitionBase;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 5px;
            background-color: #cccccc;
            &:before {
                content: '';
                width: 100%;
                height: 5px;
                margin-top: -8px;
                display: block;
                background-color: #ccc;
            }
            &:after {
                content: '';
                width: 100%;
                height: 5px;
                margin-top: 11px;
                display: block;
                background-color: #ccc;
            }
        }
    }

    .burger.active { position: absolute;
transform: rotate(-180deg);

        span{
        	transform: translateY(-3px);
        &:before {
            transform: rotate(45deg) translate(13px, -7px);
            width: 60%;


        }
        &:after {
            transform: rotate(-45deg) translate(13px, 7px);
            width: 60%;

        }
        }

    }
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    @media (max-width: 991px){
    	.logo img{
    		position: absolute;
    		width: 50px;
    		height: 50px;
    		top:-30px;
    		right: -40px;
    		transform: translateX(-50%);
    	}
    }
    @media (max-width: 767px){
    	.burger{
    		display: block;
    		z-index: 6;
    	}
    	.container{
    		margin: 0;
    	}
    	.logo img{
    		position: static;
    		margin-left: 40px;
    		margin-top: -4px;
    		display: inline-block;
    		width: 30px;
    		height: 30px;
    		z-index: 6;
    		transform: translateX(0%);
    	}
    	.logo.logo--hidden{
    		display: block;
    	}
		 position: fixed;
		    width: 100%;
		    background-color: $mainSectionColor;
		    border-bottom: 1px solid #fff;
		    z-index: 5;
    	 &__menu{

    	 	transition: $transitionBase;
    	 	transform: translateX(-100%);
    	 	position: fixed;
    	 	left: 0;
    	 	top: 59px;
    	 	z-index: 2;

    	 	flex-direction: column;
    	 	height: 100vh;
    	 	width: 270px;
    	 	background: #fff;
    	 	justify-content: flex-start;
    	 	li{
    	 		display: block;
    	 		padding:0;
    	 		margin-bottom: 3px;
    	 	}
    	 	a{
    	 		display: inline-block;
    	 		width: 100%;
    	 		text-transform: capitalize;
    	 		font-family: 'Roboto', sans-serif;
    	 		color: #9b9b9b;
    	 		font-size: 14px;
    	 		padding: 9px 56px 9px 18px;
    	 		height: 100%;
    	 		&:hover,&.active{
    	 			background-color: $highlightedColor;
    	 			color: #fff;


    	 		}
    	 	}
    	 }

    }
    &__menu-item {
        padding-right: 40px;
    }
    &__menu-link {
        font-size: 20px;
        font-weight: 700;
        color: $limonColor;
        text-transform: uppercase;
        transition: $transitionBase;
        &:hover, &.active {
            color: $highlightedColor;
            text-decoration: none;
        }
    }
      &__menu.show{

    		transform: translateX(0%);
    	}
}
.header.header--sticky {
    position: fixed;
    width: 100%;
    background-color: $mainSectionColor;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.logo {
    display: inline-block;
}
.logo.logo--hidden {
    display: none;
}
.logo__img {}
/*/header----------------------------------------------------------------------*/

.banner {
    background-color: $mainSectionColor;
    background-image: url(../img/bg-img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 230px;
    padding-bottom: 160px;
    &__btn {
        margin-top: 30px;
    }
    @media (max-width: 768px){
    	padding: 146px 0 90px;
    }
    @media (max-width: 576px){
        &__title{
            font-size: 35px;
        }
    }
}