$mainFontFamily: 'Roboto',sans-serif;
$mainFontColor: #18171b;
$secondaryFontColor: #787488;
$highlightedColor: #d91d52;
$limonColor: #f0f54b;
$mainSectionColor: #242329;
$darkSectionColor: #18171b;
$transitionBase: all .3s;